<div class="details">
    <ul>
      <li class="d-flex align-items-center mb-3">
        <i class="fa fa-battery-4"></i> 
        <span class="lang">
          {{ 'about.ukrainian' | translate }}
        </span>
        <span class="level">
          {{ 'about.native' | translate }}
        </span>
      </li>
      <li class="d-flex align-items-center mb-3">
        <i class="fa fa-battery-4"></i> 
        <span class="lang">
          {{ 'about.russian' | translate }}
        </span>
        <span class="level">
          {{ 'about.native' | translate }}
        </span>
      </li>
      <li class="d-flex align-items-center mb-3">
        <i class="fa fa-battery-1"></i> 
        <span class="lang">
          {{ 'about.english' | translate }}
        </span>
        <span class="level">
          {{ 'about.elementary' | translate }}
        </span>
      </li>
    </ul>
  </div>
