<div class="d-flex">
    <div class="type"></div>
    <div></div>
  </div>
  <div class="details">
    <div class="details_caption">
      {{ 'about.name' | translate }}
    </div>
    <div class="details_content">
      {{ 'about.sergey' | translate }}
    </div>
    <div class="details_caption">
      {{ 'about.objective' | translate }}
    </div>
    <div class="details_content">
      <div>
        {{ 'about.positionFirst' | translate }}
      </div>
      <div>
        {{ 'about.positionSecond' | translate }}
      </div>   
    </div>
    <div class="details_caption">
      {{ 'about.region' | translate }}
    </div>
    <div class="details_content">
      {{ 'about.nameRegion' | translate }}  
    </div>
    <div class="details_caption">
      {{ 'about.age' | translate }}
    </div>
    <div class="details_content">
      34 {{ 'about.years' | translate }}  
    </div>
    <div class="details_caption">
      {{ 'about.typeJob' | translate }}
    </div>
    <div class="details_content">
      {{ 'about.fullTime' | translate }} 
    </div>
  </div>
  
