
<div class="details">
    <div class="experience_head mb-2">
      {{ 'experience.experienceHead' | translate }}
    </div>
    <div class="details_list">
      {{ 'experience.experienceList1' | translate }}
    </div>
    <div class="details_list">
      {{ 'experience.experienceList2' | translate }}
    </div>
    <div class="details_caption d-flex justify-content-between align-items-end">
        <div>
          {{ 'experience.positionName' | translate }}
        </div>
        <div class="company-name" 
              tooltip="{{ 'experience.tooltip1' | translate }}"
              placement="top">
          {{ 'experience.company-1' | translate }}
        </div>
    </div>
    <div class="details_content m-0">
      {{ 'experience.position-2' | translate }}, <br/>
      {{ 'experience.position-1' | translate }}
    </div>  
    <div class="work-period">
      {{ 'experience.worPeriod-1' | translate }}
    </div>
    <div class="details_caption d-flex justify-content-between align-items-end">
      <div>
        {{ 'experience.positionName' | translate }}
      </div>
      <div class="company-name" 
            tooltip="{{ 'experience.tooltip2' | translate }}"
            placement="top">
        {{ 'experience.company-2' | translate }}
      </div>
    </div>
    <div class="details_content m-0">
      {{ 'experience.position-1' | translate }}
    </div>  
    <div class="work-period">
      {{ 'experience.worPeriod-2' | translate }}
    </div>
    <div class="details_caption d-flex justify-content-between align-items-end">
      <div>
        {{ 'experience.positionName' | translate }}
      </div>
    </div>
    <div class="details_content m-0">
      {{ 'experience.position-3' | translate }}
    </div>  
    <div class="work-period">
      {{ 'experience.worPeriod-3' | translate }}
    </div>
  </div>
