<div class="details">
    <tabset>
      <tab heading="{{ 'about.responsibilities' | translate }}" id="tab1">
        <ul>
          <li class="details_list">
            {{ 'about.responsibilities1' | translate }}
          </li>
          <li class="details_list">
            {{ 'about.responsibilities6' | translate }}
          </li>
          <li class="details_list">
            {{ 'about.responsibilities2' | translate }}
          </li>
          <li class="details_list">
            {{ 'about.responsibilities3' | translate }}
          </li>
          <li class="details_list">
            {{ 'about.responsibilities4' | translate }}
          </li>
          <li class="details_list">
            {{ 'about.responsibilities5' | translate }}
          </li>
        </ul>
      </tab>
      <tab heading="{{ 'about.skills' | translate }}">
        <ul>
          <li class="details_list">
            {{ 'about.knowledge1' | translate }}
          </li>
          <li class="details_list">
            {{ 'about.knowledge9' | translate }}
          </li>
          <li class="details_list">
            {{ 'about.knowledge3' | translate }}
          </li>
          <li class="details_list">
            {{ 'about.knowledge4' | translate }}
          </li>
          <li class="details_list">
            {{ 'about.knowledge6' | translate }}
          </li>
          <li class="details_list">
            {{ 'about.knowledge5' | translate }}
          </li>
        </ul>
      </tab>
      <tab heading="{{ 'about.other' | translate }}">
        <ul>
          <li class="details_list">
            {{ 'about.knowledge18' | translate }}
          </li>
          <li class="details_list">
            {{ 'about.knowledge19' | translate }}
          </li>
          <li class="details_list">
            {{ 'about.knowledge20' | translate }}
          </li>
          <li class="details_list">
            {{ 'about.knowledge21' | translate }}
          </li>
          <li class="details_list">
            {{ 'about.knowledge22' | translate }}
          </li>
          <li class="details_list">
            {{ 'about.knowledge10' | translate }}
          </li>
          <li class="details_list">
            {{ 'about.knowledge11' | translate }}
          </li>
          <li class="details_list">
            {{ 'about.knowledge15' | translate }}
          </li>
          <li class="details_list">
            {{ 'about.knowledge23' | translate }}
          </li>
        </ul>
      </tab>
    </tabset>
  </div>
  
